@using HotCat_Proje.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Products>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün ID</th>
        <th>Ürün Adı</th>
        <th>Ürün Fiyatı</th>
        <th>Ürün Stok</th>
        <th>Ürün Alt Kategorisi</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var pro in Model)
        {

            if (pro.product_stock <= 10)
            {
                <tr class="bg-danger">
                    <th>@pro.ProductID</th>
                    <td>@pro.Product_Name</td>
                    <td>@pro.price</td>
                    <td>@pro.product_stock  <span class="label label-danger">Az</span></td>
                    <td>@pro.subCategories.SubCategoryName</td>
                    <td><a href="/Product/GetProduct/@pro.ProductID" class="btn btn-success">GÜNCELLE</a></td>
                </tr>
            }
            else
            {
 <tr>
                <th>@pro.ProductID</th>
                <td>@pro.Product_Name</td>
                <td>@pro.price</td>
                <td>@pro.product_stock</td>
                <td>@pro.subCategories.SubCategoryName</td>
                <td><a href="/Product/GetProduct/@pro.ProductID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
            }
           
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,page => Url.Action("Products", new {page})) 
<a href="/Product/NewProduct/" class="btn btn-primary">Yeni Ürün Ekle</a>
