@using HotCat_Proje.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Employees>

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Çalışan ID</th>
        <th>Çalışan İsim</th>
        <th>Çalışan Soyisim</th>
        <th>E-Posta</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <th>@emp.EmployeeID</th>
                <td>@emp.First_Name</td>
                <td>@emp.Last_Name</td>
                <td>@emp.Email</td>
                <td>@Html.ActionLink("SİL", "SIL", new { id = emp.EmployeeID }, new { @class="btn btn-danger",onclick="return confirm ('Silme işleminden eminmisiniz?')"})</td>
                <td><a href="/Employee/GetEmployee/@emp.EmployeeID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>

</table>
@Html.PagedListPager((IPagedList)Model,page =>Url.Action("Employee",new {page}))
<a href="/Employee/NewEmployee/" class="btn btn-primary">Yeni Çalışan Ekle</a>


